<h1>Regístrate</h1>

<form action="/users/register" method="post">
  First name:<input type="text" name="first_name" id="" />
  Last name:<input type="text" name="last_name" id="" />
  Email:<input type="text" name="email" id="" />
  Password:<input type="password" name="password" id="" />
  <input type="submit" value="REGISTER">
</form>